/* General */

body {
	/* background: linear-gradient(to bottom right, #31d382, #012f18); */
	background: linear-gradient(to bottom, rgb(22, 22, 22), #103d27);
	color: #fff;

	font-family: 'Courier New', Courier, monospace;
	font-size: larger;
	
	margin: 0;
}

.hr{
	height: 2px;
	background-color: #00af6b;
	width: 100%;
}

.section {
	margin: 20px;
}

/* Nav */

.text2 a:hover, .text1:hover {
	color: #fff !important;
	text-shadow: -1px 0 0 #00ff2f, 1px 0 0 #ff00de;
}

#main {
	display: flex;
	flex-direction: column;

	width: 100%;
}
.main-column {
	width: 100%;
}

.top-container {
	/* background: #282828; */
/* 
  border: 2px solid white; 
  border-image: linear-gradient(to bottom right, #012f18, #31d382) 1;*/
	/* border-radius: 6px;  */

	padding: 80px 20px 80px 20px;
	margin-bottom: 20px;
  
	text-align: center;
	font-size: 150%;
	/* display: flex;
	align-items: center;
	justify-content: space-between; */
}

.text1 {
	color: #8de4b8;
}
.text2 {
	color: #41e693;
	padding: 20px;
}
.text-shadow {
	text-shadow: -1px 0 0 #00ff2f, 1px 0 0 #ff00de;
}

.section {
	text-align: center;

	margin: 50px;
}

/* Projects */

#portfolio h2, #portfolio h1 {
	padding: 50px;
}

.proj-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.proj{
  margin: 10px;
  max-width: 100%;
  height: 400px;
  width: auto;
  position: relative;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.proj > img {
  width: auto;
  height: 400px; /* Fixed height */
  object-fit: cover;
	border-radius: 4px;
}

.proj-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	text-align: center;
	border-radius: 4px;

	padding-left: 40px;
	padding-right: 40px;

	gap: 30px;
}
.proj-overlay:hover{
	opacity: 1;
}
.proj a {
	color: inherit;
	text-decoration: none;
}

.proj-heading {
	padding: 0 !important;
	margin-bottom: 0;
}

.proj-label {
	position:absolute;
	top: 30px;
	left: 30px;
	margin: 0;
	opacity: .7;
}

/* Art */

#art {
}

#post-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


}

.post{
	width: auto;
	height: 500px;

	margin: 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #fff;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	position: relative;
}

.post > img {
	width: auto;
	height: 500px;
	border-radius: 4px;
	/* border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px; */

  min-width: 100%;
  min-height: 100%
}

.post-overlay {
	position: absolute;
	z-index: 10;
	top: 0;
	left:0;
	right:0;
	bottom:0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  transition: opacity 0.3s ease-in-out;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	opacity: 0;

	text-align: center;
}
.post-overlay:hover{
	opacity: 1;
}

/* Documents */

#documents{
	padding: 50px;
}

#documents a {
	text-decoration: none;
	color: #fff;
}

#resume{
	background-color: #00af6b;
	border-radius: 6px;
  width: fit-content;
	height: auto;
	padding: 10px;
	margin: auto;
	font-size: 150%;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
#resume:hover{
	/* opacity:0.7; */
	background-color: #8de4b8;
	color: #282828;
}

/* Talent */
.tal{
  margin: 10px;
  max-width: 100%;
  height: 300px;
  width: auto;
  position: relative;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.tal > img {
  width: auto;
  height: 300px; /* Fixed height */
  object-fit: cover;
	border-radius: 4px;
}

.tal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	text-align: center;
	border-radius: 4px;

	padding-left: 40px;
	padding-right: 40px;

	gap: 30px;
}
.tal-overlay:hover{
	opacity: 1;
}
.tal a {
	color: inherit;
	text-decoration: none;
}

/* Contact Me */
.contact {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.fa{
	color: #00af6b !important;
	vertical-align: bottom;
	text-decoration: none;
}
.fa:hover{
	/* opacity:0.7; */
	color: #8de4b8 !important;
}

/* Glitch Heading */

.glitch-heading {
	position: relative;
	animation: glitch-animation .4s linear infinite;
	text-shadow: -1px -1px 0 #00ff2f, 1px 1px 0 #ff00de;
}

.glitch-heading::before, .glitch-heading::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
}

.glitch-heading::before {
	animation: glitch-animation-2 .4s linear infinite;
	clip: rect(44px, 200px, 56px, 0);
	text-shadow: -1px -1px 0 #ff00de;
	z-index: -1;
}

.glitch-heading::after {
	animation: glitch-animation-3 .4s linear infinite;
	clip: rect(66px, 200px, 78px, 0);
	text-shadow: 1px 1px 0 #00ff2f;
	z-index: -2;
}

@keyframes glitch-animation {
	0% { transform: skew(0deg); }
	20% { transform: skew(-2deg); }
	40% { transform: skew(2deg); }
	60% { transform: skew(-1deg); }
	80% { transform: skew(1deg); }
	100% { transform: skew(0deg); }
}

@keyframes glitch-animation-2 {
	0% { transform: translate(0); }
	20% { transform: translate(-4px, 4px); }
	40% { transform: translate(4px, -4px); }
	60% { transform: translate(2px, 2px); }
	80% { transform: translate(-4px, -4px); }
	100% { transform: translate(0); }
}

@keyframes glitch-animation-3 {
	0% { transform: translate(0); }
	20% { transform: translate(4px, -4px); }
	40% { transform: translate(-4px, 4px); }
	60% { transform: translate(-2px, -2px); }
	80% { transform: translate(4px, 4px); }
	100% { transform: translate(0); }
}

/* Responsive CSS */

@media only screen and (max-width: 480px) {
  .post > img, .proj > img, .tal > img, .post-overlay, .proj-overlay, .tal-overlay, .post, .proj, .tal {
		width: 100%;
		height: auto;
		padding: 0;
	}
	.post-overlay, .proj-overlay, .tal-overlay  {
		gap: 0;
		height: 100%;
	}

	.proj-heading {
		padding: 0 !important;
		margin-bottom: 0;
	}

	.proj-label {
		position: relative;
		top:auto;
		left: auto;
	}

	.section{
		margin: 10px;
	}
}
