/* General */
html{
	background-color: #000;
}
body {
	background: linear-gradient(to bottom, rgb(0, 0, 0), #103d27);
	color: #fff;

	font-family: 'Poppins', sans-serif;
	font-size: larger;
	
	margin: 0;
}

iframe{
	border: 1px #00af6b solid;
	border-radius: 2px;
}

/* Sections */

.hr{
	height: 2px;
	background-color: #00af6b;
	width: 100%;

	position: sticky;
	top: 0;
	z-index: 900;
}

.stripe-banner {
  background-image: url("files/images/streaks.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100px;
  background-attachment: fixed;
}

.section {
	text-align: center;

	margin: 0;
	
	margin-left: 365px;
	border-left: 2px solid #00af6b;
	border-right: 2px solid #00af6b;
}
.section h2{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 24px !important;
	padding-bottom: 24px !important;
}

/* Main */

#main {
	display: flex;
	flex-direction: row;
	width: 100%;
}

#main-content{
	width: 100%;
	margin-left: auto;
}

.first-portfolio-section{
	padding-top: 20px !important;
}

.last-portfolio-section{
	padding-bottom: 70px !important;
}

/* Left Banner */

.left-banner {
  position: fixed;
  top: auto;
  left: 0;
  right: 0;
  top: 0;
  padding: 20px;
  z-index: 950;
  pointer-events: none;

	height: 100%;
	width: 325px;
	
  background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(5px);
}
.inner-left-banner {
	height: 100%;
	text-align: left;
	font-size: 26px;
}
.main-list{
	list-style-type: none;
	padding: 0 !important;
}
.subtext {
	position: fixed;
	bottom: 105px;
	left: 20px;
	font-size: 70%;
	text-shadow: 0 0 10px black;
}

/* Contact Me */
.contact {
  position: fixed;
  bottom: 20px;
  left: 20px;
	z-index: 951;
}

.fa{
	color: #00af6b !important;
	vertical-align: bottom;
	text-decoration: none;
	text-shadow: 0 0 10px black;
}
.fa:hover{
	color: #8de4b8 !important;
}

/* Headings */

.glitch-heading {
	font-size: 140%;
	color: #fff;
	position: relative;
	animation: glitch-text 5s linear infinite, glitch-animation .4s linear infinite;
	text-shadow: -1px -1px 0 #00ff2f, 1px 1px 0 #ff00de;
}
.glitch-heading::before, .glitch-heading::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
}
.glitch-heading::before {
	animation: glitch-animation-2 .4s linear infinite;
	clip: rect(44px, 200px, 56px, 0);
	text-shadow: -1px -1px 0 #ff00de;
	z-index: -1;
}
.glitch-heading::after {
	animation: glitch-animation-3 .4s linear infinite;
	clip: rect(66px, 200px, 78px, 0);
	text-shadow: 1px 1px 0 #00ff2f;
	z-index: -2;
}

.hover-4 {
  --b: 0.1em;   /* the thickness of the line */
  --c: #41e693; /* the color */
  
  color: #0000;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .2s var(--_s,0s) linear,background-size .2s calc(.2s - var(--_s,0s));
}
.hover-4:hover {
  --_p: 100%;
  --_s: .2s;
	text-shadow: -1px -1px 0 #00ff2f, 1px 1px 0 #ff00de;
}

.heading-left{
	width: 500px;
	text-align: left;
	margin:0;
	padding-top: 10px !important;
}

.heading4 {
	color: #8de4b8;
}
.heading2 {
	color: #41e693;
	padding: 30px 20px 0 20px;
	text-shadow: 0 0 10px black;
}
.heading3 {
	color: #41e693;
	font-size: 80%;
	margin: 0;
	text-shadow: 0 0 10px black;
}
.heading2 a:hover, .heading4:hover {
	color: #fff !important;
	text-shadow: -2px 0 0 #00ff2f, 2px 0 0 #ff00de;
}
.heading3 a:hover {
	color: #fff !important;
	text-shadow: -1px 0 0 #00ff2f, 1px 0 0 #ff00de;
}

.text-shadow {
	text-shadow: -2px 0 0 #00ff2f, 2px 0 0 #ff00de;
}

.section-title {
	margin: 0 0 40px 0;
	opacity: 0.9;
	font-size: 180%;
	color: #fff !important;
	text-shadow: -2px 0 0 #00ff2f, 2px 0 0 #ff00de;
}

.section-text {
	margin: 0 0 40px 0;
	font-size: 140%;
	color: #fff !important;
	text-shadow: -1px 0 0 #00ff2f, 1px 0 0 #ff00de;
}

/* Portfolio Section */

#portfolio {
	background: linear-gradient(to bottom, rgb(0, 0, 0), #103d27);
}

#portfolio h2, #portfolio h1 {
	padding: 0 50px;
}

.proj-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

	padding-left: 40px;
	padding-right: 40px;
}

.proj{
  margin: 20px;
  max-width: 100%;
  height: 375px;
  width: auto;
  position: relative;
	border-radius: 4px;
}

.proj > img {
  width: auto;
  height: 375px; /* Fixed height */
  object-fit: cover;
	border-radius: 4px;
}

.proj-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	text-align: center;
	border-radius: 4px;

	padding-left: 40px;
	padding-right: 40px;

	gap: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

	cursor: pointer;
}
.proj-overlay:hover{
	opacity: 1;
	box-shadow: 0px 0px 10px 10px #103d27;
}
.proj a {
	color: inherit;
	text-decoration: none;
}

.proj-heading {
	padding: 0 !important;
	margin-bottom: 0;
}

.proj-label {
	position:absolute;
	top: 30px;
	left: 30px;
	margin: 0;
	opacity: .7;
}

.proj-overlay p {
  padding-left: 10px;
	padding-right: 10px;
	margin-top: 0;
}


/* Art */

#post-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.post{
	width: auto;
	height: 500px;
	margin: 20px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #fff;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	position: relative;
}

.post > img {
	width: auto;
	height: 500px;
	border-radius: 4px;
  min-width: 100%;
  min-height: 100%
}

.post-overlay {
	position: absolute;
	z-index: 10;
	top: 0;
	left:0;
	right:0;
	bottom:0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  transition: opacity 0.3s ease-in-out;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	opacity: 0;

	text-align: center;
}
.post-overlay:hover{
	opacity: 1;
}

/* Resume */

#resume{
	text-align: center;
	background: linear-gradient(to bottom, #103d27, #000);
}
#resume-section{
	padding-bottom: 50px;
}
#resume-embed {
	width: 60%;
	height: 1000px;
}

/* Modals */

.modal {
  display: none;
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(5px);
	align-items: center;
	justify-content: center;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.7);
  margin: auto;
  padding: 20px;
  border: 1px solid #00af6b;
  width: 80%;
  text-align: center;
  border-radius: 8px;
  animation-name: zoomIn;
  animation-duration: 0.3s;

	max-width: 1750px;
	/* min-width: 1200px; */
	max-height: 90%;
	overflow-y: scroll;


  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.modal-body-content {
  display: flex;
	margin-bottom: 50px;
}

.modal-text-content {
  flex: 1;
  display: flex;
	flex-direction: column;
	line-height: 170%;
	margin: auto 50px;
	vertical-align: middle;
	text-align: left;
}

.modal-body-content > img {
  flex: 1;
  width: 100%;
  height: auto; /* Fixed height */
  object-fit: cover;
	border-radius: 4px;
	margin: auto 50px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes zoomIn {
  from {
    transform: scale(0);
    transform-origin: center;
  }
  to {
    transform: scale(1);
    transform-origin: center;
  }
}

.close-btn {
  color: #00af6b;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  color: #8de4b8;
}

.modal h2 {
	padding: 35px !important;
}

/* Animations */
@keyframes glitch-text {
	0% {
			transform: translate3d(calc(-1 * 
var(10px)), 0, 0) scale3d(-1, -1, 
1);
			clip-path: polygon(0 20%, 100% 20%, 
100% 21%, 0 21%);
	} 2% {
			clip-path: polygon(0 33%, 100% 33%, 
100% 33%, 0 33%);
	} 4% {
			clip-path: polygon(0 44%, 100% 44%, 
100% 44%, 0 44%);
	} 5% {
		clip-path: polygon(0 50%, 100% 50%, 
100% 20%, 0 20%);
} 6% {
		clip-path: polygon(0 70%, 100% 70%, 
100% 70%, 0 70%);
} 7% {
		clip-path: polygon(0 80%, 100% 80%, 
100% 80%, 0 80%);
}  8% {
		clip-path: polygon(0 50%, 100% 50%, 
100% 55%, 0 55%);
} 9% {
	clip-path: polygon(0 70%, 100% 70%, 
100% 80%, 0 80%);
} 9.9% {
	transform: translate3d(calc(-1 * 
var(10px)), 0, 0) scale3d(-1, -1, 
1);
} 10%, 100% {
	transform: translate3d(0, 0, 0) 
scale3d(1, 1, 1);
	clip-path: polygon(0 0, 100% 0, 100% 
100%, 0% 100%);
}
} 

@keyframes glitch-animation {
	0% { transform: skew(0deg); }
	20% { transform: skew(-2deg); }
	40% { transform: skew(2deg); }
	60% { transform: skew(-1deg); }
	80% { transform: skew(1deg); }
	100% { transform: skew(0deg); }
}

@keyframes glitch-animation-2 {
	0% { transform: translate(0); }
	20% { transform: translate(-4px, 4px); }
	40% { transform: translate(4px, -4px); }
	60% { transform: translate(2px, 2px); }
	80% { transform: translate(-4px, -4px); }
	100% { transform: translate(0); }
}

@keyframes glitch-animation-3 {
	0% { transform: translate(0); }
	20% { transform: translate(4px, -4px); }
	40% { transform: translate(-4px, 4px); }
	60% { transform: translate(-2px, -2px); }
	80% { transform: translate(4px, 4px); }
	100% { transform: translate(0); }
}

/* Responsive CSS */

@media only screen and (max-width: 1500px) {
	/* reallocate space to favor text */
	.modal-text-content {
		flex: 2;
	}
	.modal-body-content > img {
		flex: 1;
		margin: auto 0;
	}
}

@media only screen and (max-width: 1250px) {
	#resume-embed {
		width: 80%;
	}
	
	/* remove image */
	.modal-body-content img {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.tab-container {
		flex-wrap: wrap;
	}
	.tab-content {
		margin-right: 0;
	}

	/* removing left banner */
	.left-banner{
		display: none;
	}
	.section{
		margin-left:auto;
	}
}

@media only screen and (max-width: 950px) {
	#resume-embed {
		width: 90%;
	}
}

@media only screen and (max-width: 850px) {
	#resume-embed {
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {
  .post > img, .proj > img, .post-overlay, .proj-overlay, .post, .proj {
		width: 100%;
		height: auto;
		padding: 0;
	}
	.post-overlay, .proj-overlay {
		gap: 0;
		height: 100%;
	}

	.proj-heading {
		padding: 0 !important;
		margin-bottom: 0;
	}

	.proj-label {
		position: relative;
		top:auto;
		left: auto;
	}

	.section {
		margin: 10px;
	}

	#resume-embed {
		width: 80%;
		height: 1375px;
	}
}
