/* General */

body {
	/* background: linear-gradient(to bottom, rgb(0, 0, 0), #103d27); */
	background-color: #000;
	color: #fff;

	font-family: 'Courier New', Courier, monospace;
	font-size: larger;
	
	margin: 0;
}

.hr{
	height: 2px;
	background-color: #00af6b;
	width: 100%;

	position: sticky;
	top: 0;
	z-index: 999;
}

.section {
	margin: 20px;
}

iframe{
	border: 1px #00af6b solid;
	border-radius: 2px;
}

/* Landing Banner */

.main-image {
}

#main {
	display: flex;
	flex-direction: column;

	width: 100%;
}
.main-column {
	width: 100%;
}
.main-banner {
	display: flex;
	background-color: #000;
}

.top-container {
	height: 100%;
	width: 100%;
	padding: 75px 20px 100px 0;
	text-align: center;
	font-size: 150%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('files/images/paint.jpg'); /* the gradient from transparent to black */
  background-blend-mode: darken;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.section {
	text-align: center;

	margin: 0;
}

.banner {
  background-image: url("files/images/streaks.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
  background-attachment: fixed;
}

/* Headings */

.glitch-heading {
	font-size: 250%;
	position: relative;
	animation: glitch-animation .4s linear infinite;
	text-shadow: -1px -1px 0 #00ff2f, 1px 1px 0 #ff00de;
}
.glitch-heading::before, .glitch-heading::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
}
.glitch-heading::before {
	animation: glitch-animation-2 .4s linear infinite;
	clip: rect(44px, 200px, 56px, 0);
	text-shadow: -1px -1px 0 #ff00de;
	z-index: -1;
}
.glitch-heading::after {
	animation: glitch-animation-3 .4s linear infinite;
	clip: rect(66px, 200px, 78px, 0);
	text-shadow: 1px 1px 0 #00ff2f;
	z-index: -2;
}

.heading4 {
	color: #8de4b8;
	font-size: 150%;
}
.heading2 {
	color: #41e693;
	padding: 30px 20px 0 20px;
	font-size: 140%;
}
.heading3 {
	color: #41e693;
	font-size: 80%;
	margin: 0;
}
.heading2 a:hover, .heading4:hover {
	color: #fff !important;
	text-shadow: -2px 0 0 #00ff2f, 2px 0 0 #ff00de;
}
.heading3 a:hover {
	color: #fff !important;
	text-shadow: -1px 0 0 #00ff2f, 1px 0 0 #ff00de;
}

.text-shadow {
	text-shadow: -2px 0 0 #00ff2f, 2px 0 0 #ff00de;
}

.section-title {
	margin: 0 0 40px 0;
	opacity: 0.9;
	font-size: 180%;
	color: #fff !important;
	text-shadow: -2px 0 0 #00ff2f, 2px 0 0 #ff00de;
}

.section-text {
	margin: 0 0 40px 0;
	font-size: 140%;
	color: #fff !important;
	text-shadow: -1px 0 0 #00ff2f, 1px 0 0 #ff00de;
}

/* Projects */

.tab-container {
  padding: 50px 0 50px 0;
	/* background-color: #000; */
	background: linear-gradient(to bottom, rgb(0, 0, 0), #103d27);
	display: flex;
}

.tabs {
	/* justify-content: center; */
  list-style: none;
  padding: 0 0 0 20px;
	margin-left: 100px;
	margin-bottom: auto;
  display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: left;

	box-shadow: -10px 0px 5px -5px #103d27;
}

.tabs li {
  cursor: pointer;
	opacity: 0.7;
	font-size: 170%;
}

.tabs li.active {
	opacity: 1;
	text-shadow: -2px 0 0 #00ff2f, 2px 0 0 #ff00de;
	font-size: 200%;
}

.tab-content {
  display: none;
  padding: 10px 100px;
	width: 100%;
	margin-right: 300px;
}

.tab-content.active {
  display: block;
}

.first-tab {
	border-left: none !important;
  border-top-right-radius: 8px;
}
.last-tab {
	border-right: none !important;
  border-bottom-right-radius: 8px;
}

#portfolio h2, #portfolio h1 {
	padding: 50px;
}

.proj-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.proj{
  margin: 20px;
  max-width: 100%;
  height: 400px;
  width: auto;
  position: relative;
	border-radius: 4px;
}

.proj > img {
  width: auto;
  height: 400px; /* Fixed height */
  object-fit: cover;
	border-radius: 4px;
}

.proj-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	text-align: center;
	border-radius: 4px;

	padding-left: 40px;
	padding-right: 40px;

	gap: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.proj-overlay:hover{
	opacity: 1;
	box-shadow: 0px 0px 10px 10px #103d27;
}
.proj a {
	color: inherit;
	text-decoration: none;
}

.proj-heading {
	padding: 0 !important;
	margin-bottom: 0;
}

.proj-label {
	position:absolute;
	top: 30px;
	left: 30px;
	margin: 0;
	opacity: .7;
}

/* Art */

#post-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


}

.post{
	width: auto;
	height: 500px;

	margin: 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #fff;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	position: relative;
}

.post > img {
	width: auto;
	height: 500px;
	border-radius: 4px;
  min-width: 100%;
  min-height: 100%
}

.post-overlay {
	position: absolute;
	z-index: 10;
	top: 0;
	left:0;
	right:0;
	bottom:0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  transition: opacity 0.3s ease-in-out;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	opacity: 0;

	text-align: center;
}
.post-overlay:hover{
	opacity: 1;
}

/* Documents */

#documents{
	padding: 50px;
}

#documents a {
	text-decoration: none;
	color: #fff;
}

#resume{
	padding-top: 50px;
	padding-bottom: 50px;
	/* background: linear-gradient(to bottom, #103d27, #000); */
}
#resume-embed {
	width: 60%;
	height: 1000px;
}

/* Contact Me */
.contact {
  position: fixed;
  top: 20px;
  right: 20px;
}

.fa{
	color: #00af6b !important;
	vertical-align: bottom;
	text-decoration: none;
}
.fa:hover{
	color: #8de4b8 !important;
}

@keyframes glitch-animation {
	0% { transform: skew(0deg); }
	20% { transform: skew(-2deg); }
	40% { transform: skew(2deg); }
	60% { transform: skew(-1deg); }
	80% { transform: skew(1deg); }
	100% { transform: skew(0deg); }
}

@keyframes glitch-animation-2 {
	0% { transform: translate(0); }
	20% { transform: translate(-4px, 4px); }
	40% { transform: translate(4px, -4px); }
	60% { transform: translate(2px, 2px); }
	80% { transform: translate(-4px, -4px); }
	100% { transform: translate(0); }
}

@keyframes glitch-animation-3 {
	0% { transform: translate(0); }
	20% { transform: translate(4px, -4px); }
	40% { transform: translate(-4px, 4px); }
	60% { transform: translate(-2px, -2px); }
	80% { transform: translate(4px, 4px); }
	100% { transform: translate(0); }
}

/* Responsive CSS */

@media only screen and (max-width: 2040px) {
	.tab-content{
		padding: 10px 50px;
	}
}

@media only screen and (max-width: 1950px) {
  .proj > img, .proj-overlay, .proj {
		width: auto;
		height: 350px;
	}

	.tab-content {
		margin-right: 100px;
	}
}

@media only screen and (max-width: 1750px) {
  .proj > img, .proj-overlay, .proj {
		width: auto;
		height: 300px;
		padding: 0;
	}

	.proj-overlay{
		gap: 10px;
	}
}

@media only screen and (max-width: 1250px) {
	#resume-embed {
		width: 80%;
	}
}

@media only screen and (max-width: 1000px) {
	.tab-container {
		flex-wrap: wrap;
	}
	.tab-content {
		margin-right: 0;
	}
}

@media only screen and (max-width: 950px) {
	#resume-embed {
		width: 90%;
	}
}

@media only screen and (max-width: 850px) {
	#resume-embed {
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {
  .post > img, .proj > img, .post-overlay, .proj-overlay, .post, .proj {
		width: 100%;
		height: auto;
		padding: 0;
	}
	.post-overlay, .proj-overlay  {
		gap: 0;
		height: 100%;
	}

	.proj-heading {
		padding: 0 !important;
		margin-bottom: 0;
	}

	.proj-label {
		position: relative;
		top:auto;
		left: auto;
	}

	.section{
		margin: 10px;
	}

	#resume-embed {
		width: 80%;
		height: 1375px;
	}
}
