/* About Me Section */

.about-content {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 25px auto;
}

.about-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 50%;
}
.about-img {
  height: 20em;
  border-radius: 50%;
  border: 1px solid var(--fg-color);
  box-shadow: 0 0 16px var(--fg-color);
}
.about-contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  /* justify-content: space-between; */
  height: 100%;
}
.about-icon {
  font-size: 72px;
  color: var(--fg-color);
	vertical-align: bottom;
	text-decoration: none;
  transition: all 0.2s ease-in-out, opacity 0.3s ease 0.5s; /* Opacity delay to allow pop-on-scroll animation to run */
  opacity: 0; /* until pop-on-scroll class is set via JS */
}
.about-icon:hover{
  color: var(--fg-color-secondary);
  transform: scale(1.1);
}

.about-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  color: var(--fg-color-secondary);
}
.about-right p {
  margin-right: 100px;
}

/* Animation */

.pop-on-scroll {
  opacity: 1;
  animation: popIn 0.7s cubic-bezier(.26,.53,.74,1.48);
}

.delay-1 {
  animation-delay: .1s;
}
.delay-2 {
  animation-delay: .2s;
}
.delay-3 {
  animation-delay: .3s;
}


/* Mobile Styles */
@media (max-width: 768px) {

  .about-content {
    flex-direction: column;
  }
  .about-left {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .about-right {
    width: 100%;
    justify-content: center;
  }

  .about-contact {
    flex-direction: row;
  }

  .about-right p {
    margin: 50px 0 0 0;
  }

}

/* Desktop Styles */
@media (min-width: 769px) {


}
