
@use '../variables';

.header-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: 
    linear-gradient(to bottom, rgba(0,0,0,0) 75%, variables.$bg-color 100%), /* gradient overlay */
    url("../../files/images/header-banner.png") no-repeat center center; /* background image */
  background-size: cover; /* makes the image cover the element */
}

.header-title{
  position: relative;
  bottom: 85px;
  text-align: center;
  margin: auto 0 0 0;
  padding: 30px;
  color: #fff;
  // text-shadow: -1px -1px 0 #00ff2f, 1px 1px 0 #ff00de;
  font-size: clamp(5rem, 7vw, 10rem);
  font-family: 'Poppins', sans-serif;
  // text-shadow: 2px 2px 4px #000;
  z-index: 9;
}
.header-title-2 {
  position: relative;
  bottom: 85px;
  margin: 0 0 auto 0;
  padding: 20px;
  font-size: clamp(2.5rem, 3vw, 5rem);
  color: variables.$fg-color;
}

/* Nav Bar */
.nav-bar {
  position: sticky;
  // align-self: flex-end;
  top: 0px;
  padding: 20px 0;
  // left: 20px;
  width: 100%;
  z-index: 10;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  z-index: 10;

  // margin: 25px 0 40px 100px;
  // background-color: rgba(0,0,0,.1);
  // box-shadow: 0 0 5px rgba(0,0,0,.1);
  background: linear-gradient(to bottom, rgba(0,0,0,0.8), transparent 80%);
}
.nav-links {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  margin-left: 30px;
}
.nav-icon {
  height: 60px;
}
.nav-link {
  font-size: 1.7em;
  font-weight: bold;
  color: variables.$fg-color;
  text-shadow: 0 0 10px #000;
  text-decoration: none;
}
.nav-link:hover{
  color: #fff;
}

/* Contact Me & External Links */
.fa{
  color: variables.$fg-color;
	vertical-align: bottom;
	text-decoration: none;
	text-shadow: 0 0 10px black;

  font-size:52px;
  padding-right: 30px;
}
.fa:hover{
  color: #fff;
}

/* Cursor Glow Effect */
.cursor-glow {
  position: fixed; 
  pointer-events: none;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: 0 0 100px 100px rgba(50, 255, 255, 0.1);
  transform: translate(-50%, -50%);
  transition: opacity 0.6s ease;
}
