
.header-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: 
    linear-gradient(to bottom, rgba(0,0,0,0) 75%, var(--bg-color) 100%), /* gradient overlay */
    url("/header/header-banner.png") no-repeat center center; /* background image */
  background-size: cover; /* makes the image cover the element */
}

.mobile-disclaimer {
  display: none;
}

.header-title{
  position: relative;
  bottom: 85px;
  text-align: center;
  margin: auto 0 0 0;
  padding: 30px;
  color: var(--fg-color-secondary);
  font-size: clamp(3rem, 7vw, 10rem);
  font-family: 'Poppins', sans-serif;
  z-index: 9;
}
.header-title-2 {
  position: relative;
  bottom: 85px;
  margin: 0 0 auto 0;
  padding: 0;
  height: 7vh;
  line-height: 7vh;
  font-size: clamp(1.5rem, 3vw, 5rem);
  color: var(--fg-color);

  border-right: 1rem solid var(--fg-color); /* blinking cursor */
  animation: blink 1s step-end infinite;
}
/* typing cursor blink */
@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: var(--fg-color); }
}

/* Nav Bar */
.nav-bar {
  position: sticky;
  top: 0px;
  padding: 20px 30px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgba(0,0,0,0.8), transparent 80%);
  z-index: 10;
}

.burger-menu {
  position: relative;
  top: 9px;
  font-size: 52px;
  font-weight: bold;
  color: var(--fg-color);
  text-shadow: 0 0 10px #000;
  cursor: pointer;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  margin-left: 30px;
  margin-right: auto;
}
.nav-icon {
  height: 60px;
}
.nav-link {
  font-size: 1.7em;
  font-weight: bold;
  color: var(--fg-color);
  text-shadow: 0 0 10px #000;
  text-decoration: none;
}
.nav-link:hover{
  color: var(--fg-color-secondary);
}

/* Contact Me & External Links */
.contact {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.contact-icon{
  color: var(--fg-color);
	vertical-align: bottom;
	text-decoration: none;
	text-shadow: 0 0 10px black;

  font-size:52px;
  /* padding-right: 30px; */
}
.contact-icon:hover{
  color: var(--fg-color-secondary);
}

/* Cursor Glow Effect */
.cursor-glow {
  position: fixed; 
  pointer-events: none;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: 0 0 120px 120px rgba(50, 255, 255, 0.1);
  transform: translate(-50%, -50%);
  transition: opacity 0.6s ease;
}

/* Mobile Styles */
@media (max-width: 768px) {

  .mobile-disclaimer {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 200px;
    color: var(--notice-color);
    background: rgba(0,0,0,0.6);
    width: 100%;
    justify-content: center;
  }

  /* Nav Bar */
  .nav-bar {
    box-sizing: border-box;
    padding: 20px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.9);
    text-align: center;
    gap: 20px;
    padding: 45px 0 20px 0;
    margin-left: 0;
    margin-right: 0;
    z-index: 40;
  }

  .burger-menu {
    display: block;
    z-index: 50;
  }
  .nav-links.menu-open {
    display: flex;
  }

  .nav-icon {
    display: none;
  }

  .contact {
    gap: 20px;
  }
  .contact-icon{
    font-size: 42px;
  }

  /* Titles */

}

/* Desktop Styles */
@media (min-width: 769px) {
  /* Nav Bar */

  .burger-menu {
    display: none; /* hide icon on desktop */
  }

  .nav-links {
    display: flex !important; /* always visible on desktop */
    flex-direction: row;
    position: static;
    width: auto;
    background: none;
    gap: 40px;
  }

}
