
@use '../variables';

.header-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 55vh;
  margin: 0;
  // background-color: variables.$bg-color;
  // background-image: url("../../files/images/sine-lines-grad.png");
  background: 
    linear-gradient(to bottom, rgba(0,0,0,0) 80%, variables.$bg-color 100%), /* gradient overlay */
    url("../../files/images/sine-lines-grad.png") no-repeat center center; /* background image */
  background-size: cover; /* makes the image cover the element */
}

.header-name{
  position: relative;
  bottom: 25px;
  text-align: center;
  margin: auto;
  color: #fff;
  // text-shadow: -1px -1px 0 #00ff2f, 1px 1px 0 #ff00de;
  font-size: clamp(4rem, 6vw, 6.5rem);
  font-family: 'Poppins', sans-serif;
  // text-shadow: 2px 2px 4px #000;
  z-index: 10;
}

/* Contact Me */
.contact {
  position: sticky;
  align-self: flex-end;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.fa{
	color: #00af98 !important;
	vertical-align: bottom;
	text-decoration: none;
	text-shadow: 0 0 10px black;

  font-size:52px;
  padding-right: 30px;
}
.fa:hover{
	color: #00ffdd !important;
}

/* Cursor Glow Effect */
.cursor-glow {
  position: fixed; /* stays above everything */
  pointer-events: none; /* so it doesn’t block the cursor */
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: rgba(0, 155, 155, 0.5);
  box-shadow: 0 0 100px 100px rgba(50, 255, 255, 0.1);
  transform: translate(-50%, -50%);
  transition: opacity 0.2s;
}
