
.modal-container{
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 40px;
  box-sizing: border-box;
  width: 100%;
  /* height: 40rem; */
  padding: 3rem;
  color: var(--fg-color-secondary);
  background: linear-gradient(to right, var(--bg-color) 0, var(--bg-color-lite) 40%, var(--bg-color-lite) 50%, var(--bg-color) 100%);
  background-repeat: no-repeat;
  border: 2px solid var(--fg-color);
  border-radius: 8px;
}

.modal-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.modal-titles {
  display: flex;
  flex-direction: column;
  gap: 30px;
  line-height: 1.6em;
}
.modal-title{
  color: var(--fg-color);
  font-size: 2em;
}
.modal-subtitle{
  font-size: 1.5em;

}

.modal-links{
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-left: auto;
}
.modal-button {
  font-size: 72px;
  color: var(--fg-color);
	vertical-align: bottom;
	text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.modal-button:hover{
  color: var(--fg-color-secondary);
  transform: scale(1.1);
}

.modal-content{
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  /* height: 100%; */
}
.modal-content-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  width: 50%;
  /* height: 100%; */
  line-height: 2em;
}
.modal-content-right{
  width: 50%;
  display: flex;
  justify-content: center;
}
.modal-images{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 100%; */
  box-sizing: border-box;
}
.modal-image {
  width: 100%;
  border-radius: 8px;
  border: 2px solid var(--fg-color);
  /* box-shadow: 0 0 5px var(--fg-color); */
}

.modal-summary{

}

.modal-tags{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.2rem;
  line-height: 1em;
  /* color: var(--fg-color); */
}
.modal-tag {
  padding: 10px;
  white-space: nowrap;
  background-color: var(--bg-color);
  border-radius: 30px;
  /* border: 1px solid var(--fg-color); */
  box-shadow: 0 0 6px 1px var(--fg-color);
}
.modal-tag:hover {
  box-shadow: 0 0 6px 2px var(--fg-color);
}
/* alt design */
.modal-tag {
  padding: 12px;
  /* border-radius: 12px; */
  box-shadow: none;
  border: 1px solid var(--fg-color);
}
.modal-tag:hover {
  border: 1px solid var(--fg-color);
  opacity: 1;
  box-shadow: 0 0 6px var(--fg-color);
}
