
.row-container {
  // display: flex;
  // flex-direction: column;
  // justify-content: left;
  overflow-x: hidden;

  margin-bottom: 40px;
}

.row-title {
  text-align: left;
  color: #AFA;
  margin-left: 100px;
}

.row-wrapper {
  position: relative;
}

.scroll-window {
  overflow: hidden;
  width: 100%;
}

.scroll-track {
  display: flex;
  margin-left: 100px;
}
.scroll-track > * {
  flex: 0 0 auto;  /* do not shrink or grow */
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 4px;
}

.scroll-btn.left {
  left: 0;  /* left side */
}

.scroll-btn.right {
  right: 0; /* right side */
}


// .scroll-row {
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
//   width: 100%;
//   overflow-x: auto;
//   margin-left: 100px;
//   gap: 2%;
//   scroll-behavior: smooth;
//   white-space: nowrap;
// }
// .scroll-row::-webkit-scrollbar {
//   display: none; /* hides scrollbar */
// }
// .scroll-row > * {
//   flex: 0 0 auto;
// }

