
.skill-tabs {
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin: 25px 0 40px 0;
  justify-content: center;
}
.s-tab {
  cursor: pointer;
  font-size: 1.4em;
  color: rgba(var(--fg-color-val), .5);
  text-align: center;
}
.s-tab.active {
  color: var(--fg-color);
}

.skill-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 0 25px 0;
  justify-content: center;
}

.skill {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  color: var(--fg-color-secondary);
  background-color: #000;
  border-radius: 30px;
  border: 1px solid rgba(var(--fg-color-val), 0);
  box-shadow: 0 0 8px rgba(var(--fg-color-val), 0.8);
  /* box-shadow: 0 0 8px rgb(28, 235, 207); */
  opacity: 0.5;
}
.skill.active {
  /* background-color: rgba(var(--fg-color-val), 0.4); */
  box-shadow: 0 0 10px var(--fg-color);
  border: 1px solid rgba(var(--fg-color-val), 0.5);
  opacity: 1;
}
.skill.active.cursor-near {
  box-shadow: 0 0 15px var(--fg-color);
}

.skill-name {
  font-size: 1.2em;
  margin: 0;
}
.skill-icon {
  position: relative;
  top: 4px;
  font-size: 1.6em;
}
.skill-icon img {
  height: 1em;
  width: 1em;
}
