

.nav{
	background-color: #118C4E;
	overflow: hidden;
	position: fixed;
	top:0;
	width:100%;
	height:52px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav a{
	float: right;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none !important;
  font-size: 20px;
}

.nav #name{
	float: left;
  color: #00fa9a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.nav a:hover{
	background-color: #fff;
	color:#cecece;
}

.nav #name:hover{
	color: #00af6b;
}

body {
	background-color: #fff;
	background-attachment: fixed;
	font-family: verdana;
	margin:0;

	height:100%;
}

.hr{
	height: 2px;
	background-color: #00af6b;
	width: 100%;
	margin-top:45px;
	margin-bottom: 45px;
}

#hr{
	height: 2px;
	background-color: #00af6b;
	width: 100%;
	margin-bottom: 45px;
}

#btns{
	margin-top:11%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.bttn{
	border-radius: 0px;
	color:#00af6b;
	border-color:#00af6b;
	background-color: transparent;
	height: 52px;
	font-size: 14px;
	outline: none;
	text-transform: uppercase;
	transition: 0.3s;
}
.bttn:hover{
	color: #fff;
	background-color: #00af6b;
	border-color: #fff;
}

.title{
	font-size: 45px;
	margin-bottom: 60px;
}

#git{

	border-radius: 25px;
	background-color:#00af6b;
	border-color: transparent;
	color: #fff;
	height: 52px;
	font-size: 18px;
	outline: none;

	vertical-align: middle;
	display: inline-block;
	text-align: center;
	width: 180px;
	transition: all 0.5s;
	cursor: pointer;

}

#git span {
  cursor: pointer;
  transition: 0.5s;
	position: relative;
	display: inline-block;

}

#git span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#git:hover span {
  padding-right: 20px;
}

#git:hover span:after {
  opacity: 1;
  right: 0;
}

.fa{
	color: #00af6b;
	vertical-align: bottom;
	padding-right: 30px;
}
.fa:hover{
	opacity:0.7;
}

.section{
	margin-bottom: 100px;
}

.subsection{
	padding-top: 82px;
	background-size: 100%, 100%;
	display:grid;
	grid-template-columns: 1fr 55% 1fr;
}
.subsection > *{
	grid-column: 2;
}

#sub1{
	padding-top: 82px;
	background-size: 100%, 100%;
	display:grid;
	grid-template-columns: 1fr 55% 1fr;
}
#sub1 > *{
	grid-column: 2;
}

#jumbo{
	background-color:#00af6b;
	padding:20px;
	width:55%;
}


.btn{
	color:#118C4E;
	background-color: #fff;
	transition:.2s;
}
.btn:hover{
	background-color:#118C4E;
	color: #fff !important;
}

/* Rules for tablet*/
@media only screen and (max-width: 1000px){
	p{
		text-align: center;
	}
}
/*Rules for phones*/
@media only screen and (max-width: 500px){
	body{
		background-image: none;
	}
	.main{
		background-size: 100%, 100%;
		margin-left:0;
	}
	.profile {
	  display: block;
	  width: 20%;
	  height: 20%;
	  border-radius: 50%;

	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: cover;

		margin:auto;
		margin-top: 6%;
	}
}
