@use 'variables';

#root {
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  // background: linear-gradient(to bottom, variables.$bg-color-top, variables.$bg-color-bottom);
  background-color: variables.$bg-color;
}
