@use 'variables';

#root {
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  // background: linear-gradient(to bottom, variables.$bg-color-top, variables.$bg-color-bottom);
  background-color: variables.$bg-color;
}

.project-tabs {
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin-top: 70px;
  margin-left: 100px;
}
.p-tab {
  cursor: pointer;
  font-size: 1.4em;
  color: rgba(28, 235, 207, .5);
}
.p-tab.active {
  color: rgb(28, 235, 207);
}
