
:root {
  /* Setting Custom Properties */
  
  /* background color */
  --bg-color: rgb(0, 12, 12);
  /* background color values */
  --bg-color-val: 0, 12, 12; 
  /* Lighter background color */
  --bg-color-lite: #051414;
  /* foreground color */
  --fg-color: rgb(28, 235, 207);
  /* foreground color values */
  --fg-color-val: 28, 235, 207; 
  /* secondary foreground color */
  --fg-color-secondary: #fff; 
  /* side margins for section divs  */
  --section-side-margin: 10vw;
  /* Notice / Warning text color */
  --notice-color: #ffdd44ff;

  /* Global Styles */

  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  background-color: var(--bg-color);
  padding: 0;
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
}


/* Mobile Styles */
@media (max-width: 768px) {
  :root {
    --section-side-margin: 0;
  }

}

/* Desktop Styles */
@media (min-width: 769px) {


}
