a{
	color:inherit;
	text-decoration: none;
}

.nav{
	background-color: #118C4E;
	overflow: hidden;
	position: fixed;
	top:0;
	width:100%;
	height:52px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav a{
	float: right;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.nav #name{
	float: left;
  color: #00fa9a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.nav a:hover{
	background-color: #fff;
	color:#cecece;
}

.nav #name:hover{
	color: #00af6b;
}

.main{
	margin-top: 52px;

	height: calc(100vh - 52px);

	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "pic info";
}

#lakepic{
	grid-area: pic;
	background-image: url("images/gradient.jpg");
	background-repeat: no-repeat;
}

#info{
	grid-area: info;
}

body {
	background-color: #fff;
	background-attachment: fixed;
	font-family: verdana;
	margin:0;

	height:100%;
}

.profile {
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

	margin:auto;
	margin-top: 15%;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p{
	line-height: 2.5em;
}

.subtitle{
	font-size: 1.4em;
	line-height: 2em;
}

.title{
	font-size: 48px;
	margin-bottom: 35px;
}

.tinytext{
	margin:0;
	font-size: 12px;
}

.section{
	padding-top: 82px;
	display:grid;
	grid-template-columns: 1fr 55% 1fr;
}
.section > *{
	grid-column: 2;
}

.hr{
	height: 2px;
	background-color: #00af6b;
	width: 100%;
}

#hr{
	height: 2px;
	background-color: #00af6b;
	width: 100%;
	margin-bottom: 45px;
}

#btns{
	margin-top:11%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.btn{
	border-radius: 0px;
	color:#00af6b;
	border-color:#00af6b;
	background-color: transparent;
	height: 52px;
	font-size: 14px;
	outline: none;
	text-transform: uppercase;
	transition: 0.3s;
}
.btn:hover{
	color: #fff;
	background-color: #00af6b;
	border-color: #fff;
}

#explore{
	grid-column: 2;
}
#resume{
	grid-column: 4;
}

#git{

	border-radius: 25px;
	background-color:#00af6b;
	border-color: transparent;
	color: #fff;
	height: 52px;
	font-size: 18px;
	outline: none;

	vertical-align: middle;
	display: inline-block;
	text-align: center;
	width: 180px;
	transition: all 0.5s;
	cursor: pointer;

}

#git span {
  cursor: pointer;
  transition: 0.5s;
	position: relative;
	display: inline-block;

}

#git span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#git:hover span {
  padding-right: 20px;
}

#git:hover span:after {
  opacity: 1;
  right: 0;
}

#aboutme{
	display: grid;
	font-size: 1.2em;
}
#aboutme p{
	grid-column: 1;
}

.fa{
	color: #00af6b;
	vertical-align: bottom;
	padding-right: 30px;
}
.fa:hover{
	opacity:0.7;
}

.section{
	margin-bottom: 100px;
}

#works{
	width: 100%;
	height:100%;
	display: grid;
	grid-template-columns: 42% 42%;
	grid-gap: 12%;
	position:relative;
	padding-left: 2%;
	padding-right: 2%;
}
.work{
	position:relative;
}
.work>img{
	width: 100%;
	height:auto;
	grid-column: auto;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.work>a>img{
	width: 100%;
	height:auto;
	grid-column: auto;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.work>a{
	position: relative;
}

.top {
	position: relative;
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
	z-index: 1;
}
.bottom{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Rules for tablet*/
@media only screen and (max-width: 1000px){
	p{
		text-align: center;
	}
}
/*Rules for phones*/
@media only screen and (max-width: 500px){
	body{
		background-image: none;
	}
	.main{
		background-size: 100%, 100%;
		margin-left:0;
	}
	.profile {
	  display: block;
	  width: 20%;
	  height: 20%;
	  border-radius: 50%;

	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: cover;

		margin:auto;
		margin-top: 6%;
	}
}
